.about-benefits{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--darkblue); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, var(--darkblue), var(--blue));
    color: var(--lightblue);
}
.left-about{
    padding: 1.5rem 4rem;
}
.left-about h2{
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3rem;
}
.left-about p{
    margin-bottom: 3rem;
}
.right-benefits{
    height: 30%;
    margin-bottom: 4rem;
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 10rem; 
}
.right-benefits div{
    display: flex;
}
.right-benefits div h3{
    margin-left: 1.5rem;
    margin-top: -0.2rem;
}