.socialproof{
    display: flex;
    flex-direction: column;
    background-color: none;
    text-align: center;
}
.socialproof h2{
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3rem;
}
.swiper {
    width: 100%;
    height: 80vh;
    margin-bottom: 5rem;
}
.swiper-slide {
    background-position: center;
    background-size: contain;
    font-size: 18px;
    background-color: var(--darkblueless);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    object-fit: cover;
    width: 30%;
    border-radius: 50%;
    margin-top: 12%;
    margin-bottom: -2%;
}
.swiper-slide p{
    word-wrap: break-word;
    width: 60%;
    margin: 5% 20%;
}