.socialproof{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    column-gap: 1.2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--darkestblue); 
    background-image: linear-gradient(to bottom, var(--blue), var(--darkestblue));
}
.sub-socialproof{
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    background-color: var(--darkblueless);
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sub-socialproof img{
    object-fit: cover;
    width: 50%;
    border-radius: 50%;
}
.sub-socialproof p{
    word-wrap: break-word;
    width: 70%;
}